<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<title>Madhouse|monitor core</title>
<link rel="stylesheet" href="../assets/css/bootstrap-spacelab.css" />
<link rel="stylesheet" href="../assets/css/base.css?t=20130516173114" />
  <!-- template
    ================================================== -->
    <script id="t_a" type="text/html">
                 <h2>
                     	 监控引擎状态
                 </h2>    	
    	<p class="help-block" style="padding:7px 0;">当前监控服务端的运行状态</p>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        引擎
                    </th>
                    <th>
                        进程状态
                    </th>
                    <th>
                        进程开始时间
                    </th>
                    <th>
                        总计运行时间
                    </th>
                    <th>
                        进程ID 
                    </th>
                    <th>
                        操作
                    </th>					
                </tr>
            </thead>
            <tbody>
                <% var map = ['icon24-danger','icon24-success'];
				 for (var i in json) { var item = json[i]; %>
                <tr>
                    <td>
                    	<%= i %>
                    </td>               	
                    <td>
                    	<i class="<%= map[item.process_status] %>" ></i>
                    </td>
                    <td>
                        <%= item.process_starttime %>
                    </td>
                    <td>
                    	<%= item.process_uptime %>
                    </td>					
                    <td>
                        <%= item.process_pid %>
                    </td>
                    <td>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </script>

	
<style>
h2{
	font-size:18px;
	font-weight:400;
	border-bottom:solid 1px #eee;
}
</style>

</head>
<body>
    <header>
        <h1><span id="title">监控引擎</span></h1>
        <div class="row" id="toolbar">
                <div class="box_1">
                    <button class="btn" id="info" data-toggle="modal" data-target="#modal"  data-keyboard="true" data-backdrop="true">
                        <i class="icon-info-sign"></i> 信息
                    </button>					
                </div>
				
                <div class="btn-group" style="display:none;">
                    <button class="btn">
                        	操作
                    </button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="notification"></a></li>
                    </ul>
                </div>
        </div>
    </header>	
	
    <div id="mainbody">
        <div id="engine">
        </div>
    </div>
	

  <!-- 弹出对话框
    ================================================== -->
<div class="modal fade" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>help</h3>
  </div>
  <div class="modal-body">
  		Nothing.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn"  data-dismiss="modal">关闭</a>
  </div>
</div>


  <!-- js part
    ================================================== -->
<script src="../assets/js/library/jquery-1.7.1.js"></script>
<script src="../assets/js/library/bootstrap.min.js"></script>
<script src="../assets/js/library/template.js"></script>
<script src="../assets/js/helper.js?t=20130516173114"></script>
<script src="../assets/js/doc.js?t=20130516173114"></script>	
<script>
$(function(){
	
	var smartMad = window.smartMad = window.smartMad || {};
	
	////////////////////////////////////////////////////
	//常规选项设置
	////////////////////////////////////////////////////
	var engineConf = {
		url: smartMad._url + smartMad.api.getEngineAll
	};	
	var engineCall = function(e,json){
		var $th = $(this), data, html;
		
		//$th.html(JSON.stringify(json));return;
        ///////////////////////////////////////////////
		
        data = {
            json: json
        };
        
        ///////////////////////////////////////////////
        
        html = template('t_a', data);
        $th.html(html);
		
	};	
	
	
	////////////////////////////////////////////////////////
	//init
	////////////////////////////////////////////////////////
	
	$('#engine').bind('ajax.success', engineCall).getData(engineConf);
});
</script>
</body>
</html>
