<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<title>Madhouse|monitor core</title>
<link rel="stylesheet" href="../assets/css/bootstrap-spacelab.css" />
<link rel="stylesheet" href="../assets/css/base.css?t=20130516173114" />
<link rel="stylesheet" href="../assets/css/validationEngine.jquery.css" type="text/css"/>
  <!-- template
    ================================================== -->
    <script id="t_a" type="text/html">
				<form class="form-horizontal" id="form" onsubmit="return false;">
					 <fieldset>
					 	<legend>常规设置</legend>
						<p class="help-block" style="padding:5px 0;">注：如果你的服务器没有一个有效的DNS名，邮件可能无法发送.</p>
                         <div class="control-group">
                             <label class="control-label">邮件类别：</label>
                             <div class="controls">
                                 <label class="radio">
                                     <input type="radio" name="send_mail_type" value="0" <%= json.send_mail_type == 0 && ' checked' %> >SendMail
                                 </label>
                                 <label class="radio">
                                     <input type="radio" name="send_mail_type" value="1" <%= json.send_mail_type == 1 && ' checked' %> >SMTP
                                 </label>
                             </div>
                         </div>	
						 				
                        <div class="control-group">
                            <label class="control-label" for="watchdogUrl"> Mail From： </label>
                            <div class="controls">
                                <input type="text" class="validate[required,custom[email]] text-input"  name="mail_from" value="<%= json.mail_from %>" >
                            </div>
                        </div>
						
                        <div class="control-group">
                            <label class="control-label" for="watchdogUrl"> 发件人称谓： </label>
                            <div class="controls">
                                <input type="text" class="validate[required] text-input"  name="sender_name" value="<%= json.sender_name %>" >
                            </div>
                        </div>						
						
					 </fieldset>
					 
					 <fieldset>	
					 <legend>SMTP设置</legend>
					 	
                        <div class="control-group">
                            <label class="control-label" for="sleepSecPerReq"> 服务器地址： </label>
                            <div class="controls">
                                <input type="text" class="validate[required] text-input" name="smtp_server" value="<%= json.smtp_server %>" >
                            </div>
                        </div>
						
                        <div class="control-group">
                            <label class="control-label" for="sleepSecPerReq"> SMTP域： </label>
                            <div class="controls">
                                <input type="text" class="validate[required] text-input" name="smtp_domain" value="<%= json.smtp_domain %>" >
                            </div>
                        </div>
						
                        <div class="control-group">
                            <label class="control-label" for="sleepSecPerReq"> SMTP端口： </label>
                            <div class="controls">
                                <input type="text" class="validate[required,custom[integer1]] text-input" name="smtp_port" value="<%= json.smtp_port %>" >
                            </div>
                        </div>
						
                        <div class="control-group">
                            <label class="control-label" for="sleepSecPerReq"> 用户名： </label>
                            <div class="controls">
                                <input type="text" class="validate[required] text-input" name="smtp_username" value="<%= json.smtp_username %>" >
                            </div>
                        </div>	
						
                        <div class="control-group">
                            <label class="control-label" for="sleepSecPerReq"> 密码： </label>
                            <div class="controls">
                                <input type="password" class="validate[required] text-input" name="smtp_password" value="<%= json.smtp_password %>" >
                            </div>
                        </div>																								
					 
                     <div class="control-group">
                         <label class="control-label" for="optionsCheckbox">须SMTP认证：</label>
                         <div class="controls">
                             <label class="checkbox inline">
                                 <input type="checkbox" name="smtp_auth" <%= json.smtp_auth == 1 && 'checked' %> >&nbsp;
                             </label>
                         </div>
					</div>
											 
				</fieldset>
				
                <div class="form-actions">
                    <button class='btn btn-info' name="submit">
                        	保存 
                    </button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class='btn' name="reset">
                        	重置 
                    </button>					
					<input type="reset" style="display:none;">
                </div>			
			</form>
			
    </script>

	
<style>

</style>

</head>
<body>
    <header>
        <h1><span id="title">邮件设置</span></h1>
        <div class="row" id="toolbar">
                <div class="box_1">
                    <button class="btn" id="info" data-toggle="modal" data-target="#modal"  data-keyboard="true" data-backdrop="true">
                        <i class="icon-info-sign"></i> 信息
                    </button>					
                </div>
				
                <div class="btn-group" style="display:none;">
                    <button class="btn">
                        	操作
                    </button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="notification"></a></li>
                    </ul>
                </div>
        </div>
    </header>	
	
    <div id="mainbody">
        <div class="tab-pane active" id="set_form">
        </div>
    </div>
	

  <!-- 弹出对话框
    ================================================== -->
<div class="modal fade" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>help</h3>
  </div>
  <div class="modal-body">
  		此页面用于修改监控系统的常规设置.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn"  data-dismiss="modal">关闭</a>
  </div>
</div>


  <!-- js part
    ================================================== -->
<script src="../assets/js/library/jquery-1.7.1.js"></script>
<script src="../assets/js/library/bootstrap.min.js"></script>
<script src="../assets/js/library/template.js"></script>
<script src="../assets/js/library/jquery.validationEngine-en.js"></script>
<script src="../assets/js/library/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/js/helper.js?t=20130516173114"></script>
<script src="../assets/js/doc.js?t=20130516173114"></script>	
<script>
$(function(){
	
	var smartMad = window.smartMad = window.smartMad || {};
	
	////////////////////////////////////////////////////
	//常规选项设置
	////////////////////////////////////////////////////
	var formConf = {
		url: smartMad._url + smartMad.api.getMailSet
	};	
	var formCall = function(e,json){
		var $th = $(this), data, html;
		
		//$th.html(JSON.stringify(json));return;
        ///////////////////////////////////////////////
		
		smartMad.mailJson = json;
		
        data = {
            json: json
        };
        
        ///////////////////////////////////////////////
        
        html = template('t_a', data);
        $th.html(html);
		
		$('#form').validationEngine();
		
	};	
	
	
	////////////////////////////////////////////////////////
	//提交保存
	////////////////////////////////////////////////////////
    $('#mainbody')
	.delegate('button[name="submit"]', 'click', function(){
		//表单验证
		if(!$('#form').validationEngine('validate')){
			return;
		}
		
        var conf = {
			url: smartMad._url + smartMad.api.updateMailSet
        };
		var data = {};
		
		var mailJson = smartMad.mailJson;
		
		for(var i in mailJson){
			if(i == 'send_mail_type'){
				data[i] = $('input[name="' + i + '"]:checked').val();
			}else if( i == 'smtp_auth'){
				data[i] = $('input[name="' + i + '"]').attr('checked') ? 1 : 0;
			}else{
				data[i] = $('input[name="' + i + '"]').val();
			}
		}
		
        conf.data = data;
		
        $(this).postData(conf);
    })
	.delegate('button[name="reset"]', 'click', function(){
		//$('#set_form').getData(formConf);
	});
    
	////////////////////////////////////////////////////////
	//init
	////////////////////////////////////////////////////////
	
	$('#set_form').bind('ajax.success', formCall).getData(formConf);
});
</script>
</body>
</html>
