<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SmartMad Monitor</title>
<link rel="stylesheet" href="../assets/css/bootstrap-spacelab.css" />
<link rel="stylesheet" href="../assets/css/base.css?t=20130516173114" />

  <!-- template
    ================================================== -->
    <script id="t_a" type="text/html">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>监控点名</th>
                    <th>key</th>
                    <th>采集间隔</th>
                    <th>保存天数</th>
                    <th>类型</th>
                    <th>监控集</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% 
					for (var i in json) { var item = json[i];
				 %>
                <tr>
                    <td>
                       <div><%= item[0] ? item[0] : '' %></div>
                    </td>
                    <td>
                       <div><%= item[1] ? item[1] : '' %></div>
                    </td>
                    <td>
                    	<div><%= item[2] ? item[2] : '' %></div>
                    </td>
                    <td>
                    	<div><%= item[3] ? item[3] : '' %></div>
                    </td>
                    <td>
                    	<div><%= item[4] ? item[4] : '' %></div>
                    </td>
                    <td>
                    	<div><%= item[5] ? item[5] : '' %></div>
                    </td>
                    <td>
                    	<% if(item[3] != 0) { %>
						<button class="btn" name="modify" data-name="<%= i %>">
							<i class="icon-edit" title="修改"></i>
						</button>
							&nbsp;&nbsp;&nbsp;
							<button class="btn" name="delete" data-name="<%= i %>">
								<i class="icon-trash" title="删除"></i>
							</button>
						<% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </script>
	
</head>
<body>
    <header>
        <h1>监控点管理</h1>
        <div id="toolbar">
        	<div class="box_1">
        		<button class="btn" id="add"><i class="icon-plus-sign"></i> 添加模板</button>
        	</div>  
        </div> 
    </header>	


    <div id="mainbody">
        <div id="items">
        </div>
    </div>

  <!-- js part
    ================================================== -->
<script src="../assets/js/library/jquery-1.7.1.js"></script>
<script src="../assets/js/library/bootstrap.min.js"></script>
<script src="../assets/js/library/template.js"></script>
<script src="../assets/js/helper.js?t=20130516173114"></script>
<script src="../assets/js/doc.js?t=20130516173114"></script>	
<script>
$(function(){
	
    var smartMad = window.smartMad = window.smartMad || {};
	
    var getItemAllConf = {
        url: smartMad._url + smartMad.api.getItemOfSet
    };
	
    var getItemAllCall = function(e, json){
    
        var $th = $(this), data, html;
        
        //$th.html(JSON.stringify(json));return;
        ///////////////////////////////////////////////
        
        data = {
            json: json
        };
        
        /////////////////////////////////////////////
        
        html = template('t_a', data);
        $th.html(html);
		
    };
	

    ///////////////////////////////////////////////////////////	
	  //init
   	///////////////////////////////////////////////////////////
    var $items = $('#items');
    
    $items.bind('ajax.success', getItemAllCall).getData(getItemAllConf);
	
    ///////////////////////////////////////////////////////////
	//event bind
	///////////////////////////////////////////////////////////
    $('body')
	.delegate('#add','click',function(){
        location.href = 'editUser.html?version=' + smartMad.version;
    })
	.delegate('button[name="modify"]','click',function(){
        var name = $(this).attr('data-name');
        location.href = 'editUser.html?name=' + name + '&version=' + smartMad.version;
    })
    .delegate('button[name="delete"]','click',function(){
        var name = $(this).attr('data-name');
        var conf = {
			type:'get',
            url: smartMad._url + smartMad.api.delUser + name,
            success: function(json, textStatus, jqXHR){
                $.tips('已经删除!');
                this.parent().parent().remove();
            }
        };
        if (confirm('确定删除！')) {
            $(this).delData(conf);
        }
    });
	
	///////////////////////////////////////////////////////////
    
});
</script>
</body>
</html>
