<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SmartMad Monitor</title>
<link rel="stylesheet" href="../assets/css/bootstrap-spacelab.css" />
<link rel="stylesheet" href="../assets/css/base.css?t=20130516173114" />

  <!-- template
    ================================================== -->
    <script id="t_a" type="text/html">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>触发器名</th>
                    <th>表达式</th>
                    <th>状态</th>
                    <th>等级</th>
                </tr>
            </thead>
            <tbody>
                <% 
					for (var i in json) { var item = json[i];
				 %>
                <tr>
                    <td>
                       <div><a href="editTrigger.html?version=1.0&triggerid=<%= item[6] %>"><%= item[2] ? item[2] : '' %></a></div>
                    </td>
                    <td>
                       <div><%= item[1] ? item[1] : '' %></div>
                    </td>
                    <td>
                    	<div><%= item[4]==0 ? '启用' : '停用' %></div>
                    </td>
                    <td>
                    	<div><%= item[6]==0 ? '未分类' : '' %><%= item[6]==1 ? '信息' : '' %><%= item[6]==2 ? '警告' : '' %><%= item[6]==3 ? '中等' : '' %><%= item[6]==4 ? '高' : '' %><%= item[6]==5 ? '灾难' : '' %></div>
                    </td>
                    <td>
                    	<% if(item[3] != 0) { %>
						<button class="btn" name="modify" data-name="<%= i %>">
							<i class="icon-edit" title="修改"></i>
						</button>
							&nbsp;&nbsp;&nbsp;
							<button class="btn" name="delete" data-name="<%= i %>">
								<i class="icon-trash" title="删除"></i>
							</button>
						<% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </script>
	
</head>
<body>
    <header>
        <h1>触发器管理</h1>
        <div id="toolbar">
        	<div class="box_1">
        		<button class="btn" id="add"><i class="icon-plus-sign"></i> 添加触发器</button>
        	</div>  
        </div> 
    </header>	


    <div id="mainbody">
        <div id="triggers">
        </div>
    </div>

  <!-- js part
    ================================================== -->
<script src="../assets/js/library/jquery-1.7.1.js"></script>
<script src="../assets/js/library/bootstrap.min.js"></script>
<script src="../assets/js/library/template.js"></script>
<script src="../assets/js/helper.js?t=20130516173114"></script>
<script src="../assets/js/doc.js?t=20130516173114"></script>	
<script>
$(function(){
	
    var smartMad = window.smartMad = window.smartMad || {};
	
    var templateid = urlParams('templateid');
    var getItemAllConf = {
        url: smartMad._url + smartMad.api.getTriggerOfTemplate + templateid
    };
	
    var getItemAllCall = function(e, json){
        var $th = $(this), data, html;
        data = {
            json: json
        };
        html = template('t_a', data);
        $th.html(html);
    };
	

    ///////////////////////////////////////////////////////////	
	  //init
   	///////////////////////////////////////////////////////////
    var $triggers = $('#triggers');
    
    $triggers.bind('ajax.success', getItemAllCall).getData(getItemAllConf);
	
    ///////////////////////////////////////////////////////////
	//event bind
	///////////////////////////////////////////////////////////
    $('body')
	.delegate('#add','click',function(){
        location.href = 'editUser.html?version=' + smartMad.version;
    })
	.delegate('button[name="modify"]','click',function(){
        var name = $(this).attr('data-name');
        location.href = 'editUser.html?name=' + name + '&version=' + smartMad.version;
    })
    .delegate('button[name="delete"]','click',function(){
        var name = $(this).attr('data-name');
        var conf = {
			type:'get',
            url: smartMad._url + smartMad.api.delUser + name,
            success: function(json, textStatus, jqXHR){
                $.tips('已经删除!');
                this.parent().parent().remove();
            }
        };
        if (confirm('确定删除！')) {
            $(this).delData(conf);
        }
    });
	
	///////////////////////////////////////////////////////////
    
});
</script>
</body>
</html>
