<!DOCTYPE html>
<html>
<head>
<title>SmartMad Monitor</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="../css/global.css" />
<script src="../js/jquery-1.7.1.js"></script>
<script src="../js/template.js"></script>
<script src="../js/iscroll.js"></script>
<script src="../js/helper.js"></script>
<script src="../js/server/server.js"></script>

<script id="t_c" type="text/html">

<ul class="list_3">

    <% for (var i in list) { var item = list[i]; %>

		<li class="<%= item[7] %>">
		<p><a href="<%= item[5] %>"><%= i %></a><label><%= item[7] %></label></p>
		<div class="box">
		<p><span>IP：</span><%= item[1] %></p>
		<p><span>上次上传时间：</span><%= item[2] %></p>
		<p><span>监控节点：</span><%= item[3] %></p>
		<p><span>总计在线时间：</span><%= item[4] %></p>
		<p class="t_r"><a href="<%= item[6] %>">查看监测事件 >> </a></p>
		</div>
		</li>

    <% } %>

</ul>

</script>

<style>

</style>
</head>
<body>
<div id="header">
    <h2 id="title"><a href="javascript:history.back();void (0);" id="back">返回</a><span>服务器</span><a href="javascript:void (0);" id="home">Home</a></h2>
</div>
<div id="wrapper">
    <div id="scroller">
        <div id="mainbody">
        	<div id="content">
            	<div id="server_list">
            	</div>
			</div>
        </div>
    </div>
</div>
<div id="footer">
    <div id="control_bar">
        <a href="javascript:void(0);" id="show">隐藏列表详情</a>
		<a href="javascript:void(0);" id="see_all">查看所有服务器</a>
		<a href="javascript:void(0);" id="search">搜索</a>
		<a href="javascript:void(0);" id="top">top</a>
    </div>
</div>
</body>
</html>