  .serverList{
      width:94%;
    }
    .serverList ul{
      margin-top:10px;
      list-style:none;
      margin-left:20px;
    }
    .serverList ul li{
      width:50px;
      height:25px;
      margin:0px 0px 0px 0px;
      border:1px solid #CCCCCC;
      border-radius:5px;
      background:-webkit-gradient(linear, left center, left bottom, from(#FFFFFF), to(#EBEBEB));
      display:inline;
      float:left;
      cursor:pointer;
    }
    .serverList ul li a:first{
      width:80px;
      height:40px;
      text-decoration:none;
     }
    .serverList ul li a img{
      width:32px;
      height:32px;
      margin:4px 0px 0px 2px;
    }
    .serverList ul li a cite{
      font-style:normal;
      font-size:13px;
      margin:5px 0px 0px 4px;
      font-weight:normal;
      color:#444444;
    }
    .serverList ul li:hover{
      background:#FFFFFF;
      border:1px solid #AAAAAA;
      color:#D50202;
      box-shadow: 0px 0px 5px #555555;
    }

/* tooltip styling */
    .tooltip{
      display:none;
      background:url(../images/tooltipBackground.png);
      height:163px;
      padding:40px 30px 10px 30px;
      width:190px;
      font-size:12px;
      color:#fff;
      margin-top:228px;
      margin-left:20px;
      font-family: Arial, Helvetica, Garuda, sans-serif
     }

/* a .label element inside tooltip */
   .serverDetail{
      background:url(../images/serverDivBig.png) top right no-repeat;
      background-image:64px 64px;
      width:110%;
      color:#FFFFFF;
      margin-left:-10px;
    }
    .serverTitle{
      font-size:15px;
      color:#D50202;
      font-weight:bold;
      margin-top:6px;
	  text-align:left;
    }
    .serverDetail p{
      padding:0px;
      margin:8px 0px 2px 0px;
      color:#FFFFFF;
	  text-align:left;
   }
    .serverDetail cite{
       font-style:normal;
     }
    img.line{
      margin-left: 40px;
      margin-top: 10px;
      width: 98%;
    }
